<div id="emails-sent">
  Number of emails sent: <%= @number_of_emails_sent %>
</div>
<div id="emails-opened">
  Number of emails opened: <%= @number_of_emails_opened %>
</div>
<div id="clicks">
  Number of clicks: <%= @number_of_clicks %>
</div>
